<h2>Homemade D&D Miniatures</h2>

<div class="post-date">30 Dec 2019</p>

<p>
  <p>I used to play D&D with Daniel, an RPG enthusiast who has invested hours upon hours painstakingly painting miniatures to represent not only the party, but any potential individual or creature we might come across. When he moved out of town, cardboard chits just didn’t fill the void of his magical figures.  I saw the opportunity to have a bit of fun and seized it. After many cryptic emails to party members asking about their characters’ hair and clothing, and a few weeks of testing various methods, a new brand of miniatures entered our campaign.</p>
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_in_action.jpg",
    large: false,
    alt: "Jess and Wesley look at character sheet, miniatures on the table",
    caption: "Miniatures in action"
  } %>
</div>

<p>I promised our DM, Wesley, that I would create a tutorial about how I made these little fellas in case anybody wants to try their hand at making similar miniatures.</p>

<h3>The Original Party</h3>

<p>
After some amount of experimentation, I ultimately settled on clothespins as the base medium for the minis. These were the brave adventurers that joined us on the dangerous isle of Cetaiaphus.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_party_1.jpg",
    large: false,
    alt: "Allyriah the wolf, Auhrahh the air genasi ranger, and Krusk the half-orc",
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_figs_party_2.jpg",
    large: false,
    alt: "Jacobite the human desert druid, Ozzbecker the Aasimar warlock, and Name the half-elf cleric",
  } %>

  <div class="gallery-caption">
    The original party. Of their ranks, only Name and Ozz would see the final adventure through, although Jacobite did a lot of groundwork. Not pictured: Gideon the disloyal friend (if he ever was a friend??), Casper the ghost, and Gug the pack lizard.
  </div>
</div>

<p>
They are not perfect creations but as stand-ins for the theater of the mind they do a decent enough job. Plus, all your heroes will look cute! Your bad guys will also be very adorable.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_hair.jpg",
    large: false,
    alt: "Fig with bright red hair and a golden crest on her shirt, as well as a ghoulish grey miniature with wild hair and a bloody sword",
    caption: "Some miniatures pull the wild hair look off better than others. But I wouldn’t tell it to its face."
  } %>
</div>

<h3>Step by Step Mini Creation</h3>

<p>
You’re gonna need some basic supplies before you get started. Below is the kit that I use. Despite picturing specific brands, I’m not endorsing a particular type, those just happen to be the cheapest option at the craft store I visited.
</p>

<ol>
  <li>Paper plate / cup for mixing and washing out paint</li>
  <li>Basic paintbrushes (no need for fanciness)</li>
  <li>Clothespins minus the pin part, cut to different sizes</li>
  <li>Toothpicks for detail work</li>
  <li>Budget acrylic paint in various colors</li>
  <li>Paint sealer — do not skip this!</li>
</ol>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_01_basic_supplies.jpg",
    large: false,
    alt: "plastic cup, paper plate, brushes, clothespins, toothpicks, paint, and sealant",
    caption: "The basic supplies, arrayed"
  } %>
</div>

<p>
The first step is to cut your clothespins. I used a bandsaw, but you could attack the problem in a number of ways, one of which would be to just simply order wooden peg dolls from somewhere online.
</p>

<p>
Once you’ve got the minis to the size you want, decide what the base color of your mini will be. I typically go with whatever their face / chest are going to be and then add the base clothing color over that.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_02_bases.jpg",
    large: false,
    alt: "A line of clothespin dolls in various states of painted base completion. Some are purple or mottled green.",
    caption: "You don’t have to paint the entire base one color, but I would recommend spending more detail on any miniatures where the base might be peeking through in the final fig, such as the right mini’s scaly skin."
  } %>
</div>

<p>
Wait for the base coat to dry. Now you can add the face at this step. I would not recommend adding details (like eyeballs) directly to the wood before there’s a base coat because the paint tends to bleed. I experimented with a few strategies but the one that works the best for me is applying the details with a toothpick.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_03_face.jpg",
    large: false,
    alt: "Paint on the end of a toothpick dots an eyeball.",
    caption: "Harder than you think to take a picture with one hand and paint with the other. Insert joke here about dotting eyes."
  } %>
</div>

<p>
Before you get too far, I recommend trying to sketch out what you want to do. I’ve decided to create some kind of cleric / paladin type character for this example.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_04_sketch.jpg",
    large: false,
    alt: "Sketch of the front and back of a clothespin warrior",
    caption: "Sadly, the miniatures rarely turn out as detailed as my grand plans for them on paper"
  } %>
</div>

<p>
Guess our paladin needs some clothes. You may need two or three coats of paint before this layer starts looking solid. Despite the temptation, leave each one alone to dry before you start messing with another layer, or you’ll just smudge the paint around to continually reveal whatever is underneath it. Acrylic dries pretty fast so like, just go make a cup of tea or something, alright?
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_05_initial.jpg",
    large: false,
    alt: "A miniature with shiny green paint imitating the drape of a cloak",
    caption: "The clothing layer, in progress"
  } %>
</div>

<p>
Once the layers are all done, it’s time to add a little detail work. I’ve tried using marker pens before, but I don’t find them to work as well as the ol’ toothpick and paint method.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_06_pens.jpg",
    large: false,
    alt: "Examples paint markers",
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_07_silver.jpg",
    large: false,
    alt: "Testing out a few colors"
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_08_hair.jpg",
    large: false,
    alt: "Starting the hair"
  } %>
  <div class="gallery-caption">
    I tested out a few colors with paint markers and regular paint and ultimately opted for regular paint. Fortunately, most solid colors (things you didn’t mix yourself) can be easily repainted to hide mistakes and tests.
  </div>
</div>

<p>
One important note is, if you used paint straight out of a container for a base coat, it’s not hard to paint over mistakes. If you are mixing multiple paints together to make a particular shade, it’s a lot trickier to repaint.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_09_mixing.jpg",
    large: false,
    alt: "Mixing paints for hair",
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_10_hair_2.jpg",
    large: false,
    alt: "A not very flattering closeup of the hair"
  } %>
  <div class="gallery-caption">
    I mixed some white, silver, and grey to make the top layer of the hair.
  </div>
</div>

<p>
When you are doing hair, it’s worth taking a little time to do multiple passes layering a few colors. The mini above is not an example of some of my best hair, unfortunately.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_11_helping.jpg",
    large: false,
    alt: "Black and white cat sitting on my lap and looking at the camera",
    caption: "Connie wants to feel included, but she’s dubious about the activity in general."
  } %>
</div>

<p>
Time to add some details work. I recommend just going after your mini with a toothpick dipped in a little paint, especially for dots. You can do it for lines as well, but they are never as neat as I want them to be.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_12_drapery.jpg",
    large: false,
    alt: "Miniature with green clothing starting to come together",
    caption: "Detail work definitely looks better from a distance"
  } %>
</div>

<p>
I skipped ahead a little bit here, because I added a tattoo and a knife / short sword without taking any photos of it. After everything is dry, and I mean REALLY dry this time not just dry enough for another coat, you can add the sealer. I’ve tried skipping sealer before but your minis will be rough to the touch and the paint can rub off. The sealer doesn’t take long to apply at all and it helps your minis survive their rough and tumble life as adventurers.
</p>

<p>
It goes on white-ish but don’t worry, it dries clear. I’ve never had a problem with it. You can get shiny or matte varieties, but I find I prefer the shiny type.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_13_shiny.jpg",
    large: false,
    alt: "Shiny miniature coated in multipurpose sealer",
    caption: "Temporarily shiny during the sealing process"
  } %>
</div>

<p>
At this point, your miniature is ready for anything — whether that be a campaign or a layer of clothes. If you are adding yarn, cloth, sequins, twine, etc, I do it after the sealer is applied. I have typically used super glue, but be careful lest you become affixed to your miniature. I’ve also found that some materials handle super gluing better than others. For example, the gluing did not go well with ribbon for this poor woman’s hat.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_glue.jpg",
    large: false,
    alt: "Two miniatures with attached fabric.",
    caption: "I’m fairly sure that I left my fingerprints behind on that woman’s hat. She became part of my life for an hour or so, but I learned some lessons by the next feller. You can see that the glue also came through his cloak."
  } %>
</div>

<p>
The very first miniature I made, I thought that I needed to make arms. I ultimately have decided that the arms looked dippy and I’d rather just have floating spears and shields without any arms. You might decide you’d rather go a different direction, and that’s fine, but here’s an example of my first and only arms.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_arm.jpg",
    large: false,
    alt: "Miniature with arms painted on the sides",
    caption: "Lady of the long arms"
  } %>
</div>

<h3>Gallery of Creations</h3>
<p>
In case you need any inspiration, here are a variety of the characters that we’ve met in our journeys. First up, a couple baddies. The biggest baddies are lurking towards the end like a boss fight in your blogpost.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_skellies.jpg",
    large: false,
    alt: "Skeleton miniatures",
    caption: "Skellies"
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_figs_ghouls.jpg",
    large: false,
    alt: "Ghoul or zombie miniatures",
    caption: "Ghoulies"
  } %>
  <div class="gallery-caption">
    We spent a lot of time in a Necropolis, so it was pretty standard to meet ghouls and skeletons along the way.
  </div>
</div>

<p>
Some characters could be bad or good, but our paths crossed with all sorts of groups. Note, some of the soldiers’ faces are when I learned a lesson about putting detailed paint on bare wood.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_various.jpg",
    large: false,
    alt: "Assortment of figs including tattoos, anvil, and armor",
    caption: "Gideon, Paggan, unnamed, Matthias, and a so far unplayed but very cool character."
  } %>
</div>
<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_figs_soldiers.jpg",
    large: false,
    alt: "Soldier miniatures",
    caption: "One person actually played the paladin in the middle, otherwise these are generic soldiers. I feel bad about the one on the right. I thought silver ribbon would look like armor, instead it looks like his enemies are going to dump him in a river at night."
  } %>
</div>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_murr_front.jpg",
    large: false,
    alt: "Tabaxi or cat miniature",
    caption: "Murr front"
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_fig_murr_back.jpg",
    large: false,
    alt: "Tabaxi or cat miniature",
    caption: "Murr back"
  } %>
  <div class="gallery-caption">
    My friend Kelsey played a Tabaxi, which was a particularly interesting challenge for me. I was pretty happy with how his face came out, and I had fun giving him “Trill” style markings down his sides.
  </div>
</div>

<p>
Sometimes, things get a little weird.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_weird.jpg",
    large: false,
    alt: "Pale miniature with horns and claws, a miniature created by pouring paint over it, and a plain fig with googly eyes",
    caption: "A tiefling, the Technicolor Swordsman, and an undead … goat….apparently"
  } %>
</div>

<p>
So far, I have never yet needed this miniature in a campaign but I. CAN’T. WAIT.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_beholder.jpg",
    large: true,
    alt: "Beholder created with pipecleaners and beads that look like eyeballs",
    caption: "BEHOLD!"
  } %>
</div>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_beholder_detail_front.jpg",
    large: true,
    alt: "Closeup of the beholder's face",
    caption: "Those teeth! That mottled skin!"
  } %>
</div>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_fig_beholder_detail.jpg",
    large: false,
    alt: "Closeup of the swirly shades of dark green and bright yellow that make up the skin",
    caption: "Closeup of the textured skin of the beholder"
  } %>
</div>

<p>
Sometimes, you need something of a slightly grander scale. Then it’s time to get out the pipecleaners.
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_shark.jpg",
    large: false,
    alt: "Pipecleaner shark",
    caption: "'You better believe there’s a giant shark in an underwater adventure!'"
  } %>
</div>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_carnaxus.jpg",
    large: false,
    alt: "Pipecleaner dragon",
    caption: "Crynaxus made to scale vs the miniatures. Fortunately we never had to fight him."
  } %>
</div>

<h3>Storage and More</h3>

<p>
With the exception of Crynaxus and Sharky, all of my miniatures and their accoutrements fit into a case I picked up at the craft store which was intended for beads / jewelry pieces. I have ended up with other pieces besides the miniatures riding around in it, like a giant cotton ball spider, bones that I got from a “dig your own giant sloth” paleontology kit, and lots of mirrors and colorful buttons that can be used to mark status (poisoned, asleep, etc).
</p>

<div class="img-gallery">
  <%= render partial: "image", locals: {
    image: "2019_12_storage.jpg",
    large: false,
    alt: "jewelry tote full of figs",
    caption: "Storage and transport"
  } %>
  <%= render partial: "image", locals: {
    image: "2019_12_other_ideas.jpg",
    large: false,
    alt: "Buttons, cottonball spiders, bones, and mirrors",
    caption: "Props!"
  } %>
</div>

<p>
I hope that this post is inspirational for any of you sitting at home who have been looking for a strange and niche hobby! Best of luck with your inevitably cute creations.
</p>