<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= title %></title>
    <%= render "layouts/meta_tags" %>
    <%= render "layouts/favicon" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= 'class=home' if current_page? :home %>>
    <div class="header">
      <%= render "layouts/header" %>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
